[submodule "packages/chain/lib/forge-std"]
	path = packages/chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/chain/lib/openzeppelin-contracts"]
	path = packages/chain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/web/mdx-editor"]
	path = packages/web/mdx-editor
	url = https://github.com/mdx-editor/editor.git
