[submodule "packages/chain/lib/openzeppelin-contracts"]
	path = packages/chain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/relay"]
	path = packages/relay
	url = https://github.com/ibremseth/durable-wallets
