@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('src/fonts/LTRemark-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

::selection {
  // text-decoration: underline;
  // outline: 1px solid theme('colors.limeSecondary');
  background-color: theme('colors.limeSecondary');
}

:root {
  font-family: "LTRemark";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: theme('colors.neutral.800');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

html, body {
  margin: 0;
}

html, body, #root {
  min-height: 100dvh;
}

#privy-dialog-backdrop {
  display: none;
}

#headlessui-dialog-panel-\:r3\:, #privy-modal-content {
  box-shadow: none;
}

.ProseMirror {
  background-color: theme('colors.neutral.900');
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 100%;
  caret-color: theme('colors.lime');
}

.ProseMirror-focused {
  outline: none;
}

.rotating {
  -webkit-animation: rotating 0.95s linear infinite;
  -moz-animation: rotating 0.95s linear infinite;
  -ms-animation: rotating 0.95s linear infinite;
  -o-animation: rotating 0.95s linear infinite;
  animation: rotating 0.95s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tiptap {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }


  /* Code styling */
  .hljs-comment,
  .hljs-quote {
    color: #616161;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f98181;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #fbbc88;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-attr,
  .hljs-bullet {
    color: #b9f18d;
  }

  .hljs-title,
  .hljs-section {
    color: #faf594;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #70cff8;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }

  pre {
    background-color: theme('colors.neutral.900');
    padding: 0.5rem;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1rem 1rem 1rem 0.4rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}
