@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-h: 44; /* Hue */
    --color-primary-s: 98%; /* Saturation */
    --color-primary-l: 50%; /* Lightness */

    /* Secondary is darker by reducing lightness */
    --color-secondary-h: var(--color-primary-h);
    --color-secondary-s: calc(var(--color-primary-s) - 20);
    --color-secondary-l: calc(var(--color-primary-l) - 20);
  }
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/LTRemark-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

::selection {
  background-color: theme('colors.secondary');
}

:root {
  font-family: "LTRemark";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: theme('colors.neutral.800');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

html, body {
  margin: 0;
}

html, body, #root {
  min-height: 100dvh;
}

#privy-dialog-backdrop {
  display: none;
}

#headlessui-dialog-panel-\:r3\:, #privy-modal-content {
  box-shadow: none;
}

.ProseMirror-focused {
  outline: none;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

.header {
  img {
    max-width: 100px;
    display: inline-block;
  }
}

.rotating {
  -webkit-animation: rotating 0.95s linear infinite;
  -moz-animation: rotating 0.95s linear infinite;
  -ms-animation: rotating 0.95s linear infinite;
  -o-animation: rotating 0.95s linear infinite;
  animation: rotating 0.95s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.md, .tiptap {

  ol {
    margin: 0!important;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  ul {
    margin: 0px!important;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  a {
    text-decoration: underline;
    color: rgb(var(--color-primary));
  }

   h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  // Code block styling
  pre {
    background-color: transparent;
    font-size: 0.8rem;
    // TODO: maybe padding here??
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1rem 1rem 1rem 0.4rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  /* Code styling */
  .hljs-comment,
  .hljs-quote {
    color: #616161;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f98181;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #fbbc88;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-attr,
  .hljs-bullet {
    color: #b9f18d;
  }

  .hljs-title,
  .hljs-section {
    color: #faf594;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #70cff8;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}

.tiptap {
  p.is-editor-empty:first-child::before {
    color: theme('colors.neutral.700');
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}



.DropdownMenuContent {
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

//////////////////////////////////

.DialogOverlay {
	background-color: theme('colors.neutral.900');
	opacity: 0.5;
	position: fixed;
	inset: 0;
}

.DialogContent {
	// background-color: theme('colors.neutral.800');
	// border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 450px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
	outline: none;
}

.DialogTitle {
	margin: 0;
	font-weight: 500;
	color: var(--mauve-12);
	font-size: 17px;
}

.DialogDescription {
	margin: 10px 0 20px;
	color: var(--mauve-11);
	font-size: 15px;
	line-height: 1.5;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
}
.Button.violet {
	background-color: white;
	color: var(--violet-11);
	box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
	background-color: var(--mauve-3);
}
.Button.violet:focus {
	box-shadow: 0 0 0 2px black;
}
.Button.green {
	background-color: var(--green-4);
	color: var(--green-11);
}
.Button.green:hover {
	background-color: var(--green-5);
}
.Button.green:focus {
	box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// color: theme('colors.primary');
	position: absolute;
	top: 10px;
	right: 10px;
}

// .IconButton:hover {
// 	background-color: var(--violet-4);
// }
// .IconButton:focus {
// 	box-shadow: 0 0 0 2px var(--violet-7);
// }

.Fieldset {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.Label {
	font-size: 15px;
	color: var(--violet-11);
	width: 90px;
	text-align: right;
}

.Input {
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
}
.Input:focus {
	box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

///////////////// Color Picker
.react-colorful {
  width: 225px!important;
  height: 225px!important;
}

.react-colorful__saturation {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.react-colorful__hue {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
