@tailwind base;
@tailwind components;
@tailwind utilities;


// LTRemark
@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LTRemark';
  src: url('./fonts/lt-remark/LTRemark-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// BasicallyAMono
@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BasicallyAMono';
  src: url('./fonts/basically-a-mono/BasicallyAMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-secondary: 138 138 138;

    font-family: "LTRemark";
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: theme('colors.neutral.800');

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection {
  background-color: theme('colors.secondary');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

html, body {
  margin: 0;
}

html, body, #root {
  min-height: 100dvh;
}

#privy-dialog-backdrop {
  display: none;
}

#headlessui-dialog-panel-\:r3\:, #privy-modal-content {
  box-shadow: none;
}

.ProseMirror-focused {
  outline: none;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

.header {
  img {
    max-width: 100px;
    display: inline-block;
  }
}

// Markdown reader & editor
.md, .tiptap {
  ol {
    margin: 0!important;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  ul {
    margin: 0px!important;
    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  a {
    text-decoration: underline;
    color: rgb(var(--color-primary));
  }

   h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  // Code block styling
  pre {
    background-color: transparent;
    font-size: 0.875rem;
    font-family: "BasicallyAMono", monospace;
    // TODO: maybe padding here??
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1rem 1rem 1rem 0.4rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  /* Highlight.js Code Styling */

  /*
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
  */

  // Themes found here: https://github.com/highlightjs/highlight.js/tree/main/src/styles

  .hljs {
    color: #abb2bf;
    // background: #282c34;
  }

  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string {
    color: #98c379;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-built_in,
  .hljs-title.class_,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}

// Editor specific
.tiptap {
  p.is-editor-empty:first-child::before {
    color: theme('colors.neutral.700');
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

// Radix UI Dropdown
.DropdownMenuContent {
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

// Color Picker
.react-colorful {
  width: 225px!important;
  height: 225px!important;
}

.react-colorful__saturation {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.react-colorful__hue {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.rotating {
  -webkit-animation: rotating 0.95s linear infinite;
  -moz-animation: rotating 0.95s linear infinite;
  -ms-animation: rotating 0.95s linear infinite;
  -o-animation: rotating 0.95s linear infinite;
  animation: rotating 0.95s linear infinite;
}

// Animations
@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
